{% load i18n %}
<div class="page-header">
    <h3>
        Details
        <small class="pull-right">
            {% if user.is_authenticated %}
                <span class="btn-group">
                    <a class="btn btn-default" title="{% trans 'save' %}" (click)="save(account)">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </a>
                </span>
            {% endif %}
        </small>
    </h3>
</div>
<div class="page-content">
</div>