{% load i18n %}
<div class="page-header">
    <h2>
        {$ title $}
        <small class="pull-right">
            <a (click)="create()" class="btn btn-default" role="button">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </small>
    </h2>
</div>
<div class="page-content">
    <my-exchange *ngIf="selectedExchange" [exchange]="selectedExchange" (onClose)="select(null)">
        {% trans 'Loading exchange details' %}
    </my-exchange>
    <table class="table table-striped">
        <thead>
            <th>#</th>
            <th>What</th>
            <th>Account</th>
            <th>Date</th>
            <th>&euro;</th>
        </thead>
        <tbody>
            <tr *ngFor="let exchange of exchanges" (click)="select(exchange)" [class.warning]="!exchange.confirmed">
                <th>{$ exchange.pk $}</th>
                <td>{$ exchange.what $}</td>
                <td>{$ exchange.account $}</td>
                <td>{$ exchange.when $}</td>
                <td>
                    <span class="label label-success">
                        + {$ exchange.credit $}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>